.fondo {
    background: url('fon11.png') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(26, 3, 3, 0.329);
    padding-top: 200px;
    padding-bottom: 250px;
}

.fondo:before {
    content: '';
    position: absolute;
    top: 0;
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.432);
}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}

div {
    border: px solid red;
}

.icono {
    border-radius: 100px;
    width: 10em;
    height: 10em;
    padding: 1em;
    background: #F7F7F7;
}

@media (max-width: 576px) {
    .icono {
        border-radius: 500px;
        width: 10em;
        height: 10em;
        padding: 1em;
        background: #F7F7F7;
    }
    .fondo:before {
        content: '';
        position: absolute;
        top: 0;
        background-size: cover;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    .titulo {
        color: rgb(255, 255, 255);
        text-align: center;
    }
}

.icono4 {
    border-radius: 100px;
    width: 8em;
    height: 8em;
    padding: 1em;
    background: #07388A;
}

.icono5 {
    border-radius: 100px;
    width: 8em;
    height: 8em;
    padding: 1em;
    background: #004A88;
}

.icono6 {
    border-radius: 100px;
    width: 8em;
    height: 8em;
    padding: 1em;
    background: #0096FC;
}

.iconos {
    margin-top: 20px;
}

.iconoso {
    border-radius: 100px;
    width: 8em;
    height: 8em;
    padding: 1em;
    background: #3ab3c9;
}

.iconoso2 {
    border-radius: 100px;
    width: 8em;
    height: 8em;
    padding: 1em;
    background: #000;
}

.subicono {
    border-radius: 100px;
    width: 1em;
    height: 1em;
}

.titulo {
    color: rgb(17, 17, 17);
    text-align: center;
}

.subtitulo {
    color: #fff;
    text-align: center;
    font-size: 1em;
    margin-top: 2px;
}